<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Sports-Management-Servlet-JDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminPage</display-name>
    <servlet-name>AdminPage</servlet-name>
    <servlet-class>com.divesh.AdminPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/AdminPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.divesh.admin.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPage</display-name>
    <servlet-name>StudentPage</servlet-name>
    <servlet-class>com.divesh.StudentPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPage</servlet-name>
    <url-pattern>/StudentPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.divesh.student.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentChangePassword</display-name>
    <servlet-name>StudentChangePassword</servlet-name>
    <servlet-class>com.divesh.student.StudentChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentChangePassword</servlet-name>
    <url-pattern>/StudentChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachPage</display-name>
    <servlet-name>CoachPage</servlet-name>
    <servlet-class>com.divesh.CoachPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachPage</servlet-name>
    <url-pattern>/CoachPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachController</display-name>
    <servlet-name>CoachController</servlet-name>
    <servlet-class>com.divesh.coach.CoachController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachController</servlet-name>
    <url-pattern>/CoachController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachChangePassword</display-name>
    <servlet-name>CoachChangePassword</servlet-name>
    <servlet-class>com.divesh.coach.CoachChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachChangePassword</servlet-name>
    <url-pattern>/CoachChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPanel</display-name>
    <servlet-name>/StudentPanel</servlet-name>
    <servlet-class>com.divesh.student.StudentPanel</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>com.divesh.student.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPanel</display-name>
    <servlet-name>StudentPanel</servlet-name>
    <servlet-class>com.divesh.student.StudentPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPanel</servlet-name>
    <url-pattern>/StudentPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAdd</display-name>
    <servlet-name>StudentAdd</servlet-name>
    <servlet-class>com.divesh.student.StudentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAdd</servlet-name>
    <url-pattern>/StudentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>com.divesh.student.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachPanel</display-name>
    <servlet-name>CoachPanel</servlet-name>
    <servlet-class>com.divesh.coach.CoachPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachPanel</servlet-name>
    <url-pattern>/CoachPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachUpdate</display-name>
    <servlet-name>CoachUpdate</servlet-name>
    <servlet-class>com.divesh.coach.CoachUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachUpdate</servlet-name>
    <url-pattern>/CoachUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachAdd</display-name>
    <servlet-name>CoachAdd</servlet-name>
    <servlet-class>com.divesh.coach.CoachAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachAdd</servlet-name>
    <url-pattern>/CoachAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachDelete</display-name>
    <servlet-name>CoachDelete</servlet-name>
    <servlet-class>com.divesh.coach.CoachDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachDelete</servlet-name>
    <url-pattern>/CoachDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchPanel</display-name>
    <servlet-name>BatchPanel</servlet-name>
    <servlet-class>com.divesh.batch.BatchPanel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchPanel</servlet-name>
    <url-pattern>/BatchPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchAdd</display-name>
    <servlet-name>BatchAdd</servlet-name>
    <servlet-class>com.divesh.batch.BatchAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchAdd</servlet-name>
    <url-pattern>/BatchAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchDelete</display-name>
    <servlet-name>BatchDelete</servlet-name>
    <servlet-class>com.divesh.batch.BatchDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchDelete</servlet-name>
    <url-pattern>/BatchDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchDisplay</display-name>
    <servlet-name>BatchDisplay</servlet-name>
    <servlet-class>com.divesh.batch.BatchDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchDisplay</servlet-name>
    <url-pattern>/BatchDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchUpdate</display-name>
    <servlet-name>BatchUpdate</servlet-name>
    <servlet-class>com.divesh.batch.BatchUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchUpdate</servlet-name>
    <url-pattern>/BatchUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoriesAdd</display-name>
    <servlet-name>AccessoriesAdd</servlet-name>
    <servlet-class>com.divesh.accessories.AccessoriesAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoriesAdd</servlet-name>
    <url-pattern>/AccessoriesAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoriesDisplay</display-name>
    <servlet-name>AccessoriesDisplay</servlet-name>
    <servlet-class>com.divesh.accessories.AccessoriesDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoriesDisplay</servlet-name>
    <url-pattern>/AccessoriesDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoriesUpdate</display-name>
    <servlet-name>AccessoriesUpdate</servlet-name>
    <servlet-class>com.divesh.accessories.AccessoriesUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoriesUpdate</servlet-name>
    <url-pattern>/AccessoriesUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoriesDelete</display-name>
    <servlet-name>AccessoriesDelete</servlet-name>
    <servlet-class>com.divesh.accessories.AccessoriesDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoriesDelete</servlet-name>
    <url-pattern>/AccessoriesDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierAdd</display-name>
    <servlet-name>SupplierAdd</servlet-name>
    <servlet-class>com.divesh.supplier.SupplierAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierAdd</servlet-name>
    <url-pattern>/SupplierAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierDisplay</display-name>
    <servlet-name>SupplierDisplay</servlet-name>
    <servlet-class>com.divesh.supplier.SupplierDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierDisplay</servlet-name>
    <url-pattern>/SupplierDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierUpdate</display-name>
    <servlet-name>SupplierUpdate</servlet-name>
    <servlet-class>com.divesh.supplier.SupplierUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierUpdate</servlet-name>
    <url-pattern>/SupplierUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierDelete</display-name>
    <servlet-name>SupplierDelete</servlet-name>
    <servlet-class>com.divesh.supplier.SupplierDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierDelete</servlet-name>
    <url-pattern>/SupplierDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.divesh.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOrder</display-name>
    <servlet-name>ConfirmOrder</servlet-name>
    <servlet-class>com.divesh.orders.ConfirmOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrder</servlet-name>
    <url-pattern>/ConfirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderRequest</display-name>
    <servlet-name>OrderRequest</servlet-name>
    <servlet-class>com.divesh.orders.OrderRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderRequest</servlet-name>
    <url-pattern>/OrderRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderUpdate</display-name>
    <servlet-name>OrderUpdate</servlet-name>
    <servlet-class>com.divesh.orders.OrderUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpdate</servlet-name>
    <url-pattern>/OrderUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReports</display-name>
    <servlet-name>GenerateReports</servlet-name>
    <servlet-class>com.divesh.GenerateReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReports</servlet-name>
    <url-pattern>/GenerateReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdate</display-name>
    <servlet-name>AdminUpdate</servlet-name>
    <servlet-class>com.divesh.admin.AdminUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdate</servlet-name>
    <url-pattern>/AdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogout</display-name>
    <servlet-name>StudentLogout</servlet-name>
    <servlet-class>com.divesh.student.StudentLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogout</servlet-name>
    <url-pattern>/StudentLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController1</display-name>
    <servlet-name>StudentController1</servlet-name>
    <servlet-class>com.divesh.student.StudentController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController1</servlet-name>
    <url-pattern>/StudentController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoachLogout</display-name>
    <servlet-name>CoachLogout</servlet-name>
    <servlet-class>com.divesh.coach.CoachLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachLogout</servlet-name>
    <url-pattern>/CoachLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.divesh.admin.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
</web-app>